:root {
    --color-bg: linear-gradient(to top, #010329, #000005);
}

body {
    font-family: Arial, sans-serif;
    background-image: var(--color-bg);
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

#formulario {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* Cambiado a 'max-width' para limitar el ancho en pantallas grandes */
    margin: 0 auto;
}

#formulario input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#formulario button:hover {
    background-color: #0056b3;
}

/* Estilos específicos para pantallas más grandes */
@media screen and (min-width: 768px) {
    #formulario {
        max-width: 500px;
        /* Ajustar el ancho máximo para pantallas más grandes */
    }
}